<head>
<title>Liveshooter - Record and share your own video now!</title>
<link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" type="text/css" />
</head>
<img src="{{ STATIC_URL }}pic/banner.jpg" width="100%" />
{% if login_user and login_id %}
    <div align="right"><a href="{% url 'user' login_id %}"><b>Welcome {{ login_user }}</b></a> | <a href="{% url 'logout' %}"><b>logout</b></a></div>
{% else %}
    <div align="right"><a href="{% url 'login' %}"><b>login</h4></b></a></div>
{% endif %}
